<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Vue.js</title>
    <style>
        #produits ul {
            list-style-type: none;
            padding: 20px;
        }

        #produits ul li {
            background-color: whitesmoke;
            padding: 10px;
            margin: 10px 0;
        }

        #produits ul li strong {
            font-size: 2em;
            text-transform: capitalize;
        }

        #produits ul li input {
           width: 3em;
        }
    </style>
</head>
<body>
<div id="produits">
    <ul>
        <li v-for="prod in produits">
            <strong>{{ prod.nom }}</strong>
            <div v-if="prod.quantite === 0">Plus en stock</div>
            <div v-else>
                stock:
                <input type="number" v-model="prod.quantite">
                pièces
            </div>
            <button @click="prod.quantite++">+</button>
            <button v-if="prod.quantite > 0"
                    @click="prod.quantite--"
            >-</button>
        </li>
        <h2>Total stock: {{ totalStock }}</h2>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    const prod = new Vue({
        name: 'ListeProduits',
        el: '#produits',
        data: {
            produits: [
                {id: 1, nom: 'parapluie', quantite: 4},
                {id: 2, nom: 'short', quantite: 0},
                {id: 3, nom: 'gants', quantite: 1},
                {id: 4, nom: 'lunettes', quantite: 31}
            ]
        },
        computed: {
            totalStock() {
                let total = 0;
                // this.produits.forEach(prod => total += prod.quantite);
                for(let prod of this.produits) {
                    total += parseInt(prod.quantite)
                }
                return total;
            }
        },

    });
</script>
</body>
</html>