<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Vue.js</title>
</head>
<body>
<div id="produits">
    <ul>
        <li v-for="prod in produits">
            <strong>{{ prod.nom }}</strong>
            <div v-if="prod.quantite === 0">Plus en stock</div>
            <div v-else>stock: {{ prod.quantite }} pièces</div>
        </li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    const prod = new Vue({
        el: '#produits',
        data: {
            produits: [
                {id: 1, nom: 'parapluie', quantite: 4},
                {id: 2, nom: 'short', quantite: 0},
                {id: 3, nom: 'gants', quantite: 1},
                {id: 4, nom: 'lunettes', quantite: 31}
            ]
        }
    });
</script>
</body>
</html>